.bar {
    font-family: "FantasqueSansMono Nerd Font Mono", monospace;
    font-size: 16px;
    min-height: 28px;
    border: 2px solid white;
    border-radius: 8px;

    background: #16161D;

    .desktops {
        font-family: "Fira Code", monospace;
        font-size: 20px;
        padding: 0;
        margin: 0;

        button {
            padding: 0 1ex;
        }
    }

    > box > box {
        margin: 0 0.5em;
    }
}
